* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    height: 87vh;
    background: cyan;
    margin: auto;
    box-sizing: border-box;
    padding: 70px 100px;
    border: 3px solid black;
    
}
#yellow {
    background: yellow; 
    border: 3px solid black;
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 325px;
}

#vert {
    background: green; 
    border: 3px solid black;
    width: 200px;
    height: 200px;
    position: relative;
}

#blue {
    background: blue; 
    border: 3px solid black;
    width: 200px;
    height: 200px;
    position: relative;
    left: 60%;
    bottom: 200px;
}

#orange {
    background: orange; 
    border: 3px solid black;
    width: 200px;
    height: 200px;
    position: relative;
    left: 60%;
    bottom: 125px;
}