* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    height: 95vh;
    background: cyan;
    margin: auto;
    box-sizing: border-box;
    padding: 118px 100px;
    border: 3px solid black;
    
}
#yellow {
    background: yellow; 
    border: 3px solid black;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#vert {
    background: green; 
    border: 3px solid black;
    width: 200px;
    height: 200px;
    position: absolute;
}

#blue {
    background: rgba(0, 0, 255, .30); 
    border: 3px solid black;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 26%;
    left: 36%;
    z-index: 2;
}

#orange {
    background: orange; 
    border: 3px solid black;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 46%;
    top: 45%;
    z-index: 1;
}